/* COLOR NAME */
/* h1{
    color: tomato;
} */

/* HEX CODE */
/* h1{
    color: #8c1ec7;
} */

/* RGB COLOR */
/* h1{
    color: rgb(185, 30, 199);
} */

/* BACKGROUND COLOR */
/* body{
    background-color: wheat;
    color: aqua;
} */

/* div{
    background-color: bisque;
    color: blueviolet;
} */

/* #div1{
    background-color: brown;
    opacity: 0.5;
} */

/* img{
    opacity: 0.5;
} */

